<a ui-sref="index.home" class="logo"> Guardian.JS </a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top" role="navigation">
  <!-- Sidebar toggle button-->
  <a sidebar-toggle class="navbar-btn sidebar-toggle clicable" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
  <div class="navbar-right">
    <ul class="nav navbar-nav">
      <!-- Messages: style can be found in dropdown.less-->
      <li dropdown class="dropdown messages-menu">
        <a class="dropdown-toggle clicable" dropdown-toggle> <i class="fa fa-envelope"></i> <span class="label label-danger">4</span> </a>
        <ul class="dropdown-menu">
          <li class="header">
            You have 4 messages
          </li>
          <li>
            <!-- inner menu: contains the actual data -->
            <ul class="menu" slim-scroll h="250px" s="3px">
              <li>
                <!-- start message -->
                <a href="#">
                <div class="pull-left">
                  <img src="modules/core/img/avatar3.png" class="img-circle" alt="User Image"/>
                </div> <h4> Support Team <small><i class="fa fa-clock"></i> 5 mins</small></h4>
                <p>
                  Why not buy a new awesome theme?
                </p> </a>
              </li><!-- end message -->
              <li>
                <a href="#">
                <div class="pull-left">
                  <img src="modules/core/img/avatar2.png" class="img-circle" alt="user image"/>
                </div> <h4> AdminLTE Design Team <small><i class="fa fa-clock"></i> 2 hours</small></h4>
                <p>
                  Why not buy a new awesome theme?
                </p> </a>
              </li>
              <li>
                <a href="#">
                <div class="pull-left">
                  <img src="modules/core/img/avatar.png" class="img-circle" alt="user image"/>
                </div> <h4> Developers <small><i class="fa fa-clock"></i> Today</small></h4>
                <p>
                  Why not buy a new awesome theme?
                </p> </a>
              </li>
              <li>
                <a href="#">
                <div class="pull-left">
                  <img src="modules/core/img/avatar2.png" class="img-circle" alt="user image"/>
                </div> <h4> Sales Department <small><i class="fa fa-clock"></i> Yesterday</small></h4>
                <p>
                  Why not buy a new awesome theme?
                </p> </a>
              </li>
              <li>
                <a href="#">
                <div class="pull-left">
                  <img src="modules/core/img/avatar.png" class="img-circle" alt="user image"/>
                </div> <h4> Reviewers <small><i class="fa fa-clock"></i> 2 days</small></h4>
                <p>
                  Why not buy a new awesome theme?
                </p> </a>
              </li>
            </ul>
          </li>
          <li class="footer">
            <a href="#">See All Messages</a>
          </li>
        </ul>
      </li>
      <!-- Notifications: style can be found in dropdown.less -->
      <li dropdown  class="dropdown notifications-menu">
        <a class="dropdown-toggle clicable" dropdown-toggle> <i class="fa fa-exclamation-triangle"></i> <span class="label label-danger">10</span> </a>
        <ul class="dropdown-menu">
          <li class="header">
            You have 10 notifications
          </li>
          <li>
            <!-- inner menu: contains the actual data -->
            <ul class="menu" slim-scroll h="250px" s="3px">
              <li>
                <a href="#"> <i class="ion ion-ios7-people info"></i> 5 new members joined today </a>
              </li>
              <li>
                <a href="#"> <i class="fa fa-exclamation-triangle danger"></i> Very long description here that may not fit into the page and may cause design problems </a>
              </li>
              <li>
                <a href="#"> <i class="fa fa-users warning"></i> 5 new members joined </a>
              </li>

              <li>
                <a href="#"> <i class="ion ion-ios7-cart success"></i> 25 sales made </a>
              </li>
              <li>
                <a href="#"> <i class="ion ion-ios7-person danger"></i> You changed your username </a>
              </li>
            </ul>
          </li>
          <li class="footer">
            <a href="#">View all</a>
          </li>
        </ul>
      </li>
      
      <!-- Tasks: style can be found in dropdown.less -->
      <li dropdown class="dropdown tasks-menu">
        <a class="dropdown-toggle clicable" dropdown-toggle> <i class="fa fa-tasks"></i> <span ng-hide="tasks.total == 0" class="label label-danger" ng-bind="tasks.total"></span> </a>
        <ul class="dropdown-menu">
          <li class="header">
            You have <span ng-bind="tasks.total"></span> tasks
          </li>
          <li>
            <!-- inner menu: contains the actual data -->
            <ul class="menu" slim-scroll h="250px" s="3px">
              <li ng-repeat="issue in tasks.issues">
                <!-- Task item -->
                <a ng-href="{{'https://' + conf.jiraURL + '/browse/' + issue.key}}" target="_blank"><img ng-src="{{issue.fields.priority.iconUrl}}" class="pull-left" height="16"/> <img ng-src="{{issue.fields.issuetype.iconUrl}}" class="pull-left"/><h3> &nbsp;{{issue.key}}</h3>
                <div class="progress xs">
                  <div class="progress-bar {{'progress-bar-' + issue.fields.priority.id}}" style="width: 100%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div> </a>
              </li><!-- end task item -->
            </ul>
          </li>
          <li class="footer">
            <a ng-href="{{tasks.jql}}" target="_blank">View all tasks</a>
          </li>
        </ul>
      </li>
      
            
      <!-- User Account: style can be found in dropdown.less -->
      <li dropdown class="dropdown user user-menu">
        <a class="dropdown-toggle clicable" dropdown-toggle> <i class="glyphicon glyphicon-user"></i> <span> {{ account.name }} <i class="caret"></i></span> </a>
        <ul class="dropdown-menu">
          <!-- User image -->
          <li class="user-header bg-light-qb">
            <img ng-src="modules/users/img/avatars/{{account.avatar}}" class="img-circle" alt="User Image" />
            <p>
              {{ account.name }} - QuestBack
              <small>QA Member since Nov. 2012</small>
            </p>
          </li>
          <!-- Menu Body -->
          <li class="user-body">
            <div class="col-xs-4 text-center">
              <a href="#">Projects</a>
            </div>
            <div class="col-xs-4 text-center">
              <a ui-sref="index.jira">Jira</a>
            </div>
            <div class="col-xs-4 text-center">
              <a href="#">Automation</a>
            </div>
          </li>
          <!-- Menu Footer-->
          <li class="user-footer">
            <div class="pull-left">
              <a href="#" class="btn btn-default btn-flat">Profile</a>
              <a data-ng-if="account.isAdmin" ui-sref="index.config" class="btn btn-default btn-flat">Admin</a>
            </div>
            <div class="pull-right">
              <a href="auth/signout" class="btn btn-default btn-flat">Sign out</a>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
