<!-- Content Header (Page header) -->
<section class="content-header" data-ng-controller="HomeController">
    <h1> Dashboard
        <small>Control panel</small>
    </h1>
    <div ng-if="layoutConfig == true" id="layout-dialog" class="layout-buttons" ng-class="widgetsLayout">
        <ul>
            <li><a href="#" id="layout-ab" ng-click="changeLayout('layout-ab')"><strong>A</strong></a></li>
            <li><a href="#" id="layout-aaa" ng-click="changeLayout('layout-aaa')"><strong>AA</strong></a></li>
        </ul>
    </div>
    <div class="breadcrumb">
        <span class="layout-config clicable" ng-click="layout()">
            <i class="fa fa-cogs"></i>
        </span>
        <li>
            <a ui-sref="index.home"><i class="fa fa-tachometer-alt"></i> Home</a>
        </li>
        <li class="active">
            Dashboard
        </li>
    </div>
</section>

<!-- Main content -->

<section class="content" data-ng-controller="HomeController">
    <div data-ng-controller="JiraHomeController">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3 ng-bind="jira.danger.count"></h3>
                        <p>
                            <span ng-bind="jira.danger.title"></span>
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion-bug"></i>
                    </div>
                    <div ng-hide="jira.danger.loaded" class="overlay"></div>
                    <div class="loading-img" ng-hide="jira.danger.loaded"></div>
                    <a ng-href="{{jira.danger.jql}}" class="small-box-footer" target="_blank"> More info <i
                            class="fa fa-arrow-circle-right"></i> </a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3 ng-bind="jira.warning.count"></h3>
                        <p>
                            <span ng-bind="jira.warning.title"></span>
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion-arrow-graph-up-right"></i>
                    </div>
                    <div ng-hide="jira.warning.loaded" class="overlay"></div>
                    <div class="loading-img" ng-hide="jira.warning.loaded"></div>
                    <a ng-href="{{jira.warning.jql}}" class="small-box-footer" target="_blank"> More info <i
                            class="fa fa-arrow-circle-right"></i> </a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3 ng-bind="jira.info.count"></h3>
                        <p>
                            <span ng-bind="jira.info.title"></span>
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion-arrow-graph-down-right"></i>
                    </div>
                    <div ng-hide="jira.info.loaded" class="overlay"></div>
                    <div class="loading-img" ng-hide="jira.info.loaded"></div>
                    <a ng-href="{{jira.info.jql}}" class="small-box-footer" target="_blank"> More info <i
                            class="fa fa-arrow-circle-right"></i> </a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 ng-bind="jira.success.count"></h3>
                        <p>
                            <span ng-bind="jira.success.title"></span>
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <div ng-hide="jira.success.loaded" class="overlay"></div>
                    <div class="loading-img" ng-hide="jira.success.loaded"></div>
                    <a ng-href="{{jira.success.jql}}" class="small-box-footer" target="_blank"> More info <i
                            class="fa fa-arrow-circle-right"></i> </a>
                </div>
            </div><!-- ./col -->
        </div><!-- /.row -->
    </div>
    <!-- Main row -->
    <div class="row">
        <section ng-repeat="widget in widgets" class="connectedSortable" ng-class="widgetsClasses[$index]"
                 ui-sortable="widgetOptions" data-ng-model="widgets[$index]">
            <!-- Widgets -->
            <div ng-repeat="views in widget" class="box box-primary" ui-view="{{views.view}}"></div>
        </section>
    </div><!-- /.row (main row) -->

</section><!-- /.content -->
