<div class="box-header sortable">
  <i class="fas fa-comments"></i>
  <h3 class="box-title">QA-Chat</h3>
  <div title="Set filter range" class="box-tools pull-right clicable">
    <div date-range-picker id="chatrange">
      <i class="fa fa-calendar fa-lg"></i>
      <span chat-range></span><b class="caret"></b>
    </div>
  </div>
</div>
<div class="box-body chat" id="chat-box" slim-scroll h="350px" s="8px">
  <!-- chat item -->
  <div ng-repeat='message in messages | limitTo:chatLimit' class="item">
    <img ng-src="modules/users/img/avatars/{{ message.user.avatar }}?{{ avatarLastState }}" alt="user image" class="status-chat"/>
    <p class="message">
      <a class="name clicable"> <small class="text-muted pull-right"><i class="fa fa-clock"></i> <span am-time-ago="message.when"></span></small> {{ message.user.displayName }} </a>
      <span ng-bind-html="message.message | linky:'_blank' | smilies"></span>
    </p>
  </div><!-- /.item -->
</div><!-- /.chat -->
<div class="box-footer">
  <div class="input-group">
            <span class="input-group-addon"
                  smilies-selector="message"
                  smilies-placement="right"
                  smilies-title="Smilies">
            </span>
    <input id='chatMessage' autofocus="true" focus-on-change="message" ng-model="message" class="form-control" ng-Enter="sendMessage()" placeholder="Type message..."/>
    <div class="input-group-btn">
      <button class="btn btn-success" ng-click="sendMessage()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
</div>
<div class="box-footer" ng-show="configLimit">
  <input type="text" id="chat-limit" name="chat-limit" chat-limit-range value="" />
</div>
<div ng-hide="chatStarted" class="overlay"></div><div class="loading-img" ng-hide="chatStarted"></div>
