<!-- Content Header (Page header) -->
<section class="content-header">
  <h1> Webdriver
    <small>Living Documentation</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a ui-sref="index.home"><i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li class="active">
      Features
    </li>
  </ol>
</section>

<section class="content" data-ng-controller="FeatureController">

  <div class="row">
    <div class="col-md-5">
      <div>
        <div class="input-group">
          <input ng-model="featureSearch" type="Search" placeholder="Feature search..." class="form-control"/>
          <div class="input-group-btn">
            <button class="btn btn-primary">
              <span class="fa fa-search"></span>
            </button>
          </div>
        </div>
        <p></p>
        <button ng-click="ftree.expand_all()" class="btn btn-default btn-sm">
          expand all
        </button>
        <button ng-click="ftree.collapse_all()" class="btn btn-default btn-sm">
          collapse all
        </button>
        <p></p>
      </div>
      <div class="box box-solid box-primary">
        <div class="box-header">
          <h3 class="box-title">Feature Navigation</h3>

          <div class="box-tools pull-right">
            <span class="label label-default">{{ftree.get_features_count()}} Features</span>
          </div>
        </div>
        <div class="box-body">
          <feature-tree tree-data="filteredSearch" icon-leaf="cucumber-icon" tree-control="ftree"
                        icon-expand="fa fa-folder" icon-collapse="fa fa-folder-open"
                        on-select="features_handler(branch)" expand-level="3"
                        initial-selection="{{last_selected_feature}}"></feature-tree>
        </div>
        <!-- /.box-body -->
        <div ng-hide="featureLoaded" class="overlay"></div>
        <div class="loading-img" ng-hide="featureLoaded"></div>
      </div>
    </div>

    <div class="col-md-7 features-righ-pane">
      <div ng-if="folder_loaded || feature_loaded">

        <div class="row">
          <div class="col-md-4">
            <div class="input-group">
              <label for="browser">Pick up a browser</label>
              <select id="browser" ng-model="browser"
                      ng-options="browser.label group by browser.os for browser in browsers"
                      class="form-control"></select>
            </div>
            <p></p>

            <div class="input-group">
              <label for="installation">Pick up a Installation</label>
              <select id="installation" ng-model="installation"
                      ng-options="installation.label group by installation.environment for installation in installations"
                      class="form-control"></select>
            </div>
            <p></p>

            <div class="checkbox">
              <label>
                <input type="checkbox" checked="true"/>
                Execution report per email </label>
            </div>
            <p></p><span class="btn btn-success"><i class="fa fa-cogs"></i>&nbsp;Execute feature</span>

            <p></p>
          </div>
        </div>

        <div class="box" data-ng-show="folder_loaded">
          <div class="box-header">
            <h3 class="box-title">Select features to be executed</h3>

            <div class="box-tools">
              <div class="input-group">
                <input type="text" placeholder="Search" style="width: 150px;"
                       class="form-control input-sm pull-right" name="table_search">

                <div class="input-group-btn">
                  <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <tbody>
              <tr ng-repeat="feature in child_features">
                <td><input type="checkbox"/></td>
                <td>
                  <i class="indented tree-icon cucumber-icon" style="color: #5cb85c;"> </i> <span style="padding-left: 10px;" ng-bind="feature.label">liking.feature </span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <pre ng-hide="!feature_loaded" id='web-editor'></pre>
    </div>
  </div>

</section>
