<div class="box-header sortable">
  <i class="fa fa-th"></i>
  <h3 class="box-title">Build status</h3>
</div>
<div class="box-body">
  <div ng-show="addingBuildStatus">
    <div class="form-group">
      <label>Version</label>
      <select class="form-control" ng-model="build.version">
        <option ng-repeat="version in BuildStages.versions">{{version.version}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Stage</label>
      <select class="form-control" ng-model="build.title">
        <option ng-repeat="stage in BuildStages.stages">{{stage.title}}</option>
      </select>
    </div>
  </div>
  <ul ng-hide="addingBuildStatus" class="todo-list" ui-sortable="buildStatusOptions" ng-model="buildStatus">
    <li ng-repeat="status in buildStatus">
      <div class="row">
                <span class="col-xs-4"> <span class="handle"> <!-- drag handle --> <i class="fa fa-ellipsis-v"></i> <i
                        class="fa fa-ellipsis-v"></i> </span> <span class="text" ng-bind="status.title"></span> </span>
        <span class="col-xs-2"> <span class="text badge" ng-bind="status.version"></span> </span>
        <span class="col-xs-6"> <a
                ng-href="http://jenkins.globalpark.de/view/EFS%20DEV/job/EFS_{{status.version}}_{{status.stage}}/"
                target="_blank"> <img
                ng-src="http://jenkins.globalpark.de/buildStatus/icon?job=EFS_{{status.version}}_{{status.stage}}"> </a>
          <!-- General tools such as edit or delete-->
                  <div class="tools">
                    <i class="fas fa-trash-alt" ng-click="deleteBuildStatus(status._id)"></i>
                  </div> </span>
      </div>
    </li>
  </ul>
</div>
<div class="box-footer clearfix no-border">
  <button ng-show="addingBuildStatus" class="btn btn-primary btn-sm" ng-click="addBuildStatusConfirm(build)">
    Add status
  </button>
  <button ng-hide="addingBuildStatus" class="btn btn-default pull-right" ng-click="addBuildStatus()">
    <i class="fa fa-plus"></i> Add status
  </button>
</div>
<div ng-hide="buildsStarted" class="overlay"></div>
<div class="loading-img" ng-hide="buildsStarted"></div>
