<div class="box-header sortable">
	<i class="ion ion-pie-graph"></i>
	<h3 class="box-title">WebDriver</h3>
	<div class="box-tools pull-right">
		<button title="" class="btn btn-primary btn-sm"><i class="fa fa-cogs"></i></button>
	</div>
</div><!-- /.box-header -->
<div class="box-body">
	<highchart id="webdriver" config="testReport"></highchart>
</div><!-- /.box-body -->
<div class="box-footer clearfix no-border">
</div>
<div ng-hide="testReportStarted" class="overlay"></div>
<div class="loading-img" ng-hide="testReportStarted"></div>