<!-- Content Header (Page header) -->
<section class="content-header">
  <h1> Jira <small>Configuration</small></h1>
  <ol class="breadcrumb">
    <li>
      <a ui-sref="index.home"><i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li class="active">
      Jira
    </li>
  </ol>
</section>

<section class="content" data-ng-controller="JiraConfigController">
  <tabset>
    <tab class="clicable" heading="Jira Boxes">
      <br>
      <button class="btn btn-info" ng-click="setDefaultBoxes()">
        Use default jira JQLs
      </button>
      <i class="fa fa-fw fa-exclamation-triangle"></i> All your JQLs will be purged!
      <br>
      <br>
      <div class="row">
          <div class="col-md-6">
            <div class="box box-warning">
              <div class="box-body">
                <div class="form-group">
                  <label>Title</label>
                  <input type="text" class="form-control" ng-model="jira.warning.title">
                </div>
                <div class="form-group">
                  <label>Valid JQL</label>
                  <textarea rows="3" class="form-control" ng-model="jira.warning.jql"></textarea>
                </div>
              </div><!-- /.box-body -->
              <div class="box-footer">
                <button class="btn btn-primary" ng-click="updateBox('warning')">
                  update
                </button>
              </div>
              <div ng-hide="jira.warning.loaded" class="overlay"></div><div class="loading-img" ng-hide="jira.warning.loaded"></div>
            </div>
            <div class="box box-info">
              <div class="box-body">
                <div class="form-group">
                  <label>Title</label>
                  <input type="text" class="form-control" ng-model="jira.info.title">
                </div>
                <div class="form-group">
                  <label>Valid JQL</label>
                  <textarea rows="3" class="form-control" ng-model="jira.info.jql"></textarea>
                </div>
              </div><!-- /.box-body -->
              <div class="box-footer">
                <button class="btn btn-primary" ng-click="updateBox('info')">
                  update
                </button>
              </div>
              <div ng-hide="jira.info.loaded" class="overlay"></div><div class="loading-img" ng-hide="jira.info.loaded"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box box-success">
              <div class="box-body">
                <div class="form-group">
                  <label>Title</label>
                  <input type="text" class="form-control" ng-model="jira.success.title">
                </div>
                <div class="form-group">
                  <label>Valid JQL</label>
                  <textarea rows="3" class="form-control" ng-model="jira.success.jql"></textarea>
                </div>
              </div><!-- /.box-body -->
              <div class="box-footer">
                <button class="btn btn-primary" ng-click="updateBox('success')">
                  update
                </button>
              </div>
               <div ng-hide="jira.success.loaded" class="overlay"></div><div class="loading-img" ng-hide="jira.success.loaded"></div>
            </div>
            <div class="box box-danger">
              <div class="box-body">
                <div class="form-group">
                  <label>Title</label>
                  <input type="text" class="form-control" ng-model="jira.danger.title">
                </div>
                <div class="form-group">
                  <label>Valid JQL</label>
                  <textarea rows="3" class="form-control" ng-model="jira.danger.jql"></textarea>
                </div>
              </div><!-- /.box-body -->
              <div class="box-footer">
                <button class="btn btn-primary" ng-click="updateBox('danger')">
                  update
                </button>
              </div>
               <div ng-hide="jira.danger.loaded" class="overlay"></div><div class="loading-img" ng-hide="jira.danger.loaded"></div>
            </div>
          </div>
        </div>
    </tab>
    <tab class="clicable" heading="Jira Tasks">
      <br>
      <button class="btn btn-info" ng-click="setDefaultTask()">
        Use default jira JQL
      </button>
      <i class="fa fa-fw fa-exclamation-triangle"></i> Your JQL will be purged!
      <br>
      <br>
        <div class="row">
          <div class="col-md-12">
            <div class="box box-danger">
              <div class="box-body">
                <div class="form-group">
                  <label>Enter a valid JQL to list your tasks</label>
                  <textarea rows="3" class="form-control" ng-model="jira.task.jql"></textarea>
                </div>
              </div><!-- /.box-body -->
              <div class="box-footer">
                <button class="btn btn-primary" ng-click="updateTask()">
                  update
                </button>
              </div>
               <div ng-hide="jira.task.loaded" class="overlay"></div><div class="loading-img" ng-hide="jira.task.loaded"></div>
            </div>
          </div>
        </div>      
    </tab>
    <tab class="clicable" heading="Jira Streams"></tab>
  </tabset>

</section>
