<div class="box-header sortable">
  <i class=" ion ion-chatboxes"></i>
<h3 class="box-title">Jira Activity Stream</h3>
<div class="box-tools pull-right">
  <button title="" class="btn btn-primary btn-sm" ng-click="streamConfigStart()"><i class="fa fa-cogs"></i></button>
</div>
</div><!-- /.box-header -->
<div class="box-body">

  <div ng-show="streamConfig">
    <div class="form-group">
      <label>Select the projects, that you want to watch</label>
      <ui-select multiple ng-model="myProjects.projects" theme="bootstrap" ng-disabled="disabled" style="width: 300px;">
        <ui-select-match placeholder="Select projects...">
          {{$item}}
        </ui-select-match>
        <ui-select-choices repeat="project in availableProjects | filter:$select.search">
          {{project}}
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="form-group">
      <label>Please select how much items should be shown on start</label>
      <input type="number" min="5" max="25" step="5" data-ng-model="currentStreamMax">
    </div>
    <div class="form-group">
      <label>Show stream content?</label>
      <input type="checkbox" data-ng-model="showContent">
    </div>
  </div>
  <ul class="todo-list" ng-hide="streamConfig">
    <li ng-repeat="item in stream">
      <div class="row">
        <div class="col-xs-1 vcenter">
          <img ng-src="{{item.avatar}}" class="stream-avatar"/>
        </div>
        <div class="col-xs-11 vcenter">
          <span class="stream-text" ng-bind-html="item.title"></span>
          <span data-ng-show="showContent" class="activity-item-description" ng-bind-html="item.content"></span>
        </div>
      </div>
    </li>
  </ul>
</div><!-- /.box-body -->
<div class="box-footer clearfix no-border">
  <button class="btn btn-default btn-block" ng-show="showLessButton && !streamConfig" ng-click="streamLess()">less...
  </button>
  <button ng-hide="!showMoreButton || streamConfig" class="btn btn-default btn-block" ng-click="streamMore()">more...
  </button>
  <button ng-show="streamConfig" class="btn btn-primary btn-sm" ng-click="streamConfigSave()">Oki doki</button>
  <span data-ng-hide="showMoreButton"> Nothing found. Please configure your jira stream. </span>
</div>
<div ng-hide="streamStarted" class="overlay"></div>
<div class="loading-img" ng-hide="streamStarted"></div>