<div class="box-header sortable">
  <i class="ion ion-alert-circled"></i>
  <h3 class="box-title">QA TODO List</h3>
  <div class="box-tools pull-right">
    <pagination ng-change="pageTodoChanged()" boundary-links="true" total-items="totalTodos" ng-model="currentTodoPage" items-per-page="6" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
  </div>
</div><!-- /.box-header -->
<div class="box-body">
  <ul class="todo-list">
    <li ng-repeat="todo in todos">
      <div class="row">
        <a ng-href="https://{{conf.jiraURL}}/browse/{{todo.key}}" target="_blank">
                  <span class="col-xs-2 pull-left">
                    <span class="badge" ng-bind="todo.key"></span>
                  </span>
          <img ng-src="{{todo.fields.priority.iconUrl}}" class="text" height="16"/>
          <span todo-text class="text"></span>
          <span class="col-xs-1 pull-right">
                    <img ng-src="{{todo.fields.issuetype.iconUrl}}"/>
                    </span>
        </a>
      </div>
    </li>
  </ul>
</div><!-- /.box-body -->
<div class="box-footer clearfix no-border">
  <small class="pull-right label label-danger">Total {{totalTodos}}</small>
</div>
<div ng-hide="todosStarted" class="overlay"></div><div class="loading-img" ng-hide="todosStarted"></div>