.login-background
{
    background: url('../img/login-back-2.jpg') fixed;
    background-size: cover;
    padding: 0;
}

.login-wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

p.login-form-title
{
    font-family: 'Open Sans' , sans-serif !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    text-align: center !important;
    color: #FFFFFF !important;
    margin-top: 5% !important;
    text-transform: uppercase !important;
    letter-spacing: 4px !important;;
}

form.login-form
{
    width: 250px !important;;
    margin: 0 auto !important;;
}

form.login-form input[type="text"], form.login-form input[type="password"]
{
    width: 100% !important;;
    margin: 0 !important;;
    padding: 5px 10px !important;;
    background: 0 !important;;
    border: 0 !important;;
    border-bottom: 1px solid #FFFFFF !important;;
    font-style: italic !important;;
    font-size: 12px !important;;
    font-weight: 400 !important;;
    letter-spacing: 1px !important;;
    margin-bottom: 5px !important;;
    color: #FFFFFF !important;;
}


input.login-input:focus {
  border: none !important;;
  outline: 0 !important;;
}

form.login-form label
{
    font-size: 12px !important;;
    font-weight: 400 !important;;
    color: #FFFFFF !important;;
}

.login-posted-by
{
    position: absolute;
    bottom: 26px;
    margin: 0 auto;
    color: #FFF;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.66);
    padding: 10px;
    left: 45%;
}