<!-- Content Header (Page header) -->
<section class="content-header">
  <h1> Artifacts
    <small>Artifact Management</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a ui-sref="index.home"><i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li class="active">
      Artifacts
    </li>
  </ol>
</section>

<section class="content" data-ng-controller="DeploymentController">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-solid">
        <div class="box-body">
          <div class="row">
            <div class="col-md-2">
              <b>Product</b>
              <div class="form-group">
                <div class="radio">
                  <label>
                    <input name="product" data-ng-model="product" value="EFS" type="radio"
                           data-ng-change="getVersions()">
                    EFS
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input name="product" data-ng-model="product" value="DV" type="radio"
                           data-ng-change="getVersions()">
                    DATAVOYAGER
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-6" data-ng-if="versions.length > 0">
              <div class="form-group">
                  <b style="padding-right: 10px">Version</b>
              <div class="checkbox">
                <label style="padding-right: 10px" data-ng-repeat="version in versions">
                  <input type="checkbox" checklist-model="selectedVersionsModel" checklist-value="version"
                         data-ng-click="searchArtifacts()">{{ version }}
                </label>
              </div>
              </div>
            </div>
            <div class="col-md-4" data-ng-if="account.isQA && selectedVersionsModel.length > 0" data-ng-click="deleteVersions()">
                    <a class="btn btn-app bg-red" style="margin-top: 15px;">
                        <i class="fas fa-trash"></i> Delete version
                    </a>
                <small style="margin-left: 10px;vertical-align: bottom">Remove version(s) from guardianJS</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" data-ng-show="selectedVersionsModel.length > 0">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <pagination data-ng-change="pageArtifactChanged()" boundary-links="true" total-items="artifact.total"
                        data-ng-model="currentArtifactPage" items-per-page="12" class="pagination-sm"
                        previous-text="&lsaquo;"
                        next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body">
          <ul class="todo-list">
            <li>
              <div class="row">
                <span class="pull-left" style="padding-left: 10px">
                  <label>Status</label>
                </span>
                <span class="col-xs-1 pull-left">
                  <label>Release</label>
                </span>
                <span class="col-xs-1 pull-left">
                  <label>Branch</label>
                </span>
                <span class="col-xs-2 pull-left">
                  <label>Artifact Name</label>
                </span>
                <span class="col-xs-1 pull-left">
                  <label>Changesets</label>
                </span>
                <span class="col-xs-1 pull-left">
                  <label>Check In</label>
                </span>
                <span class="col-xs-1 pull-left">
                  <label>QA Status</label>
                </span>
                <span class="col-xs-2 pull-left">
                  <label>Actions</label>
                </span>
              </div>
            </li>
            <li data-ng-repeat="artifact in artifact.artifacts" data-ng-class="{'bg-gray-hs': artifact.healselfchanged}">
              <div class="row" >
                <span class="pull-left" style="padding-left: 10px; padding-right: 10px">
                      <a href="{{ artifact.url }}" target="_blank" title="{{ artifact.status }}">
                        <i class="fa fa-circle status-{{ artifact.status }}"
                           style="font-size: 1.5em;padding-left: 5px"></i>
                      </a>
                </span>
                <span class="col-xs-1 pull-left">
                  <span class="label label-default" data-ng-bind="artifact.version"></span>
                </span>
                <span class="col-xs-1 pull-left">
                  <span class="label label-primary" data-ng-bind="artifact.branch"></span>
                </span>
                <span class="col-xs-2 pull-left">
                  <span data-ng-bind="artifact.name"></span>
                  <a data-ng-show="artifact.artifactory" title="download build artifact"
                     data-ng-href="{{ artifact.artifactory }}"><i style="font-size: 1.5em;padding-left: 20px;" class="fas fa-cloud-download-alt"></i></a>
                </span>
                <span class="col-xs-1 pull-left">
                  <a class="clicable label label-default"
                     data-ng-click="open(artifact.name)">changeset</a>
                </span>
                <span class="col-xs-1 pull-left">
                  <span data-ng-bind="artifact.date | date : 'dd.MM.yyyy HH:mm'"></span>
                </span>
                <span class="col-xs-1 pull">
                  <i data-ng-if="artifact.declined" title="declined by {{ artifact.declinedBy }}"
                     class="fa fa-ban qa-declined"></i>
                  <i data-ng-if="artifact.approved && !artifact.declined" title="approved by {{ artifact.approvedBy }}"
                     class="fa fa-star qa-approved"></i>
                  <i data-ng-if="!artifact.approved && !artifact.declined" title="waiting approval"
                     class="fa fa-star qa-disableicon"></i>
                  <i data-ng-if="artifact.promoted && !artifact.declined" title="promoted by {{ artifact.promotedBy }}"
                     class="fa fa-share-alt qa-promoted"></i>
                  <i data-ng-if="!artifact.promoted && !artifact.declined" title="waiting promotion"
                     class="fa fa-share-alt qa-disableicon"></i>
                  <i data-ng-if="!artifact.promoted && artifact.declined" class="fa fa-share-alt qa-ghosticon"></i>
                  <i data-ng-if="artifact.comment.length > 0" title="this artifact has been commented"
                     class="clicable fas fa-comment-alt qa-commented" data-ng-click="comment(artifact)"></i>
                </span>
                <span class="pull-left l_10_px">
                  <a data-ng-if="account.isQA && (!artifact.approved && !artifact.declined)"
                     class="clicable btn-sm btn-default" data-ng-click="approve(artifact)">
                    <i class="fa fa-thumbs-up"></i> Approve &nbsp;
                  </a>
                  <a data-ng-if="artifact.approved && !artifact.declined" class="btn-sm btn-default qa-disabled">
                    <i class="fa fa-star" style="color: #ccc"></i> Approved
                  </a>
                </span>
                <span class="pull-left l_10_px" >
                  <a data-ng-if="artifact.promoted && !artifact.declined" class="btn-sm btn-default qa-disabled">
                    <i class="fa fa-star" style="color: #ccc"></i> Promoted
                  </a>
                </span>
                <span class="pull-right r_10_px">
                  <a  data-ng-if="account.isQA && !artifact.promoted && !artifact.declined && artifact.canPromote"
                     title="Decline artifact" class="clicable btn-sm btn-danger" data-ng-click="decline(artifact)">
                    <i class="fa fa-thumbs-down"></i>
                  </a>
                  <a data-ng-if="account.isQA && artifact.declined" title="Revoke"
                     data-ng-click="revoke(artifact)" class="clicable btn-sm btn-warning">
                    <i class="fa fa-reply"></i>
                  </a>
                  <a data-ng-if="(artifact.promoted || !artifact.canPromote) && !artifact.declined " title="Artifact has been promoted"
                     class="clicable btn-sm btn-danger qa-disabled">
                    <i class="fa fa-thumbs-down"></i>
                  </a>
                </span>
                <span class="pull-left l_10_px">
                    <span ng-if="artifact.healselfchanged" title="Healself changed!">
                        <i  class="fa fa-exclamation-triangle" style="color: #fa8d6a; font-size: x-large"></i>
                    </span>
                </span>
                <span class="pull-right r_10_px">
                  <a data-ng-if="account.isQA" class="clicable btn-sm btn-default" data-ng-click="comment(artifact)">
                    <i class="fa fa-comment"></i>
                  </a>
                </span>
              </div>
            </li>
          </ul>
        </div><!-- /.box-body -->
        <div class="box-footer clearfix no-border">
          <small class="pull-right label label-danger">Total {{artifact.total}}</small>
        </div>
        <div data-ng-hide="artifact.searched" class="overlay"></div>
        <div class="loading-img" data-ng-hide="artifact.searched"></div>
      </div>

    </div>
  </div>
</section>
