<div class="splash-content" data-ng-controller="DeploymentStatusController">
  <div class="tape-container">
    <div class="tape-main">
      <div class="circle c1">
        <div class="inner-C">
          <div class="inner-inner"></div>
          <div class="hole hole1">
            <div class="line h-Top"></div>
            <div class="line h-Right"></div>
            <div class="line h-Bottom"></div>
            <div class="line h-Left"></div>
          </div>
          <div class="hole hole2">
            <div class="line h-Top"></div>
            <div class="line h-Right"></div>
            <div class="line h-Bottom"></div>
            <div class="line h-Left"></div>
          </div>
          <div class="hole hole3">
            <div class="line h-Top"></div>
            <div class="line h-Right"></div>
            <div class="line h-Bottom"></div>
            <div class="line h-Left"></div>
          </div>
        </div>
      </div>
      <div class="circle c2">
        <div class="inner-C">
          <div class="inner-inner"></div>
          <div class="hole hole1">
            <div class="line h-Top"></div>
            <div class="line h-Right"></div>
            <div class="line h-Bottom"></div>
            <div class="line h-Left"></div>
          </div>
          <div class="hole hole2">
            <div class="line h-Top"></div>
            <div class="line h-Right"></div>
            <div class="line h-Bottom"></div>
            <div class="line h-Left"></div>
          </div>
          <div class="hole hole3">
            <div class="line h-Top"></div>
            <div class="line h-Right"></div>
            <div class="line h-Bottom"></div>
            <div class="line h-Left"></div>
          </div>
        </div>
      </div>
      <div class="m2">
        <div class="sRec"></div>
        <div class="rec">
          <div class="mini-Circle mc1"></div>
          <div class="mini-Circle mc2"></div>
          <div class="mini-Circle mcBig"></div>
          <div class="line line-Left"></div>
          <div class="line line-Left2"></div>
          <div class="line line-Right"></div>
          <div class="line line-Right2"></div>
        </div>
      </div>
      <div class="m3">
        <div class="nobs nobs1">
          <div class="mini-Circle mc3"></div>
          <div class="mini-Circle mc4"></div>
          <div class="mini-Circle mc5"></div>
        </div>
        <div class="boxes boxes1">
          <div class="tape-box box1">
            <div class="meter meter1"></div>
          </div>
          <div class="tape-box box2">
            <div class="meter meter2"></div>
          </div>
        </div>
        <div class="boxes boxes2">
          <div class="tape-box box3">
            <div class="meter meter3"></div>
          </div>
          <div class="tape-box box4">
            <div class="meter meter4"></div>
          </div>
        </div>
        <div class="nobs nobs2">
          <div class="mini-Circle mc6"></div>
          <div class="mini-Circle mc7"></div>
          <div class="mini-Circle mc8"></div>
        </div>
      </div>
    </div>
  </div>

  <p class="lead text-center"> Artifact {{ artifact.name }} is going to be deployed</p>

  <div class="row">
    <p style="padding-left: 15px">Artifact distribution status</p>
    <div class="col-md-4">
      <progressbar class="progress-deploy {{ distributionBarStatus }}" value="distributionPercentage" type="{{ distributionType }}"><b>{{ distributionPercentage }}%</b></progressbar>
    </div>
    <div class="col-md-8">
      <span data-ng-bind="distributionStatus"></span>
    </div>
    </div>
  <div class="row" slim-scroll h="400px" s="3px">
    <p style="padding-left: 15px">Deployment status</p>
    <div data-ng-repeat="installation in installations">
      <div class="col-md-6">
        <a target="_blank" title="go to installation login page" data-ng-href="https://{{installation.name}}/www">{{installation.name }}</a>
      </div>
      <div class="col-md-3" data-ng-show="installation.deploymentStarted">
        <progressbar class="progress-deploy {{installation.deploymentBarStatus}}" value="installation.deploymentPercentage" type="{{installation.deploymentType}}"><b>{{ installation.deploymentPercentage }}%</b></progressbar>
      </div>
      <div class="col-md-3" data-ng-show="installation.deploymentFinnished">
        <i class="fa fa-info-circle" style="cursor: default" title="{{installation.deploymentStatus}}"></i>&nbsp;
        <i class="fa fa-medkit clicable" ng-click="healself(installation.name)"></i>
      </div>
    </div>
  </div>


</div>
