<div class="modal-header">
    <h3 class="page-header">
        <i class="fa fa-cubes"> </i> {{ artifact.artifacts[index].name }}
        <span ng-if="artifact.artifacts[index].healselfchanged" title="Healself changed!">
            <i  class="fa fa-exclamation-triangle" style="color: #fa8d6a"></i>
        </span>
    </h3>
    <h4 class="modal-title">{{ artifactCount }} Commits</h4>
</div>
<div class="modal-body" slim-scroll h="300px" s="3px">
    <div class="row" data-ng-repeat="commit in artifactsCommits">
        <div style="padding-left: 20px" class="pull-left">
            <a data-ng-if="commit.jiraUrl" href="{{ commit.jiraUrl }}" target="_blank">
                <div class="label label-primary" title="Go to jira issue">
                    <i class="fa fa-bug"></i>
                </div>
            </a>
            <div ng-if="!commit.jiraUrl">
                <div class="label">
                    <i class="fa fa-bug"></i>
                </div>
            </div>
        </div>
        <div style="padding-left: 10px" class="pull-left">
            <a href="{{ commit.commitUrl }}" target="_blank">
                <div class="label label-primary" title="Go to commit">
                    <i class="fab fa-github"> </i>
                </div>
            </a>
        </div>
        <div style="padding-left: 10px" class="col-xs-8 pull-left">
            <div ng-bind="commit.message"></div>
        </div>
        <div class="col-xs-2 pull-left">
            <div class="label label-default bg-{{commit.jiraStatusColor}}" ng-bind="commit.jiraStatus"></div>
        </div>
    </div>
    <br/>
</div>
<div class="modal-footer" style="background-color: #f3f4f5">
    <div class="pull-left">
        <a class="clicable btn-sm btn-primary" data-ng-if="hasprev" ng-click="prev()"> < </a>
        <a class="btn-sm btn-default qa-disabled" data-ng-if="!hasprev"> < </a>
    </div>
    <div class="l_10_px pull-left">
        <a class="clicable btn-sm btn-primary" data-ng-if="hasnext" ng-click="next()"> > </a>
        <a class="btn-sm btn-default qa-disabled" data-ng-if="!hasnext"> > </a>
    </div>
    <div class="l_10_px pull-left">
        <a class="clicable btn-sm btn-primary" ng-click="updateJiraStatus()"> Check issue status</a>
    </div>
    <div>
        <span title="Healself Hash" class="label label-default" style="margin-right: 20px; font-size: 0.9em" data-ng-bind="artifact.artifacts[index].healselfhash">
        </span>
        <a class="l clicable btn-sm btn-default" data-ng-click="deploy(artifact)">
            <i class="fa fa-play"></i> Deploy
        </a>
        <span class="l_10_px">
        <a data-ng-if="account.isQA && (!artifact.artifacts[index].approved && !artifact.artifacts[index].declined)"
           class="clicable btn-sm btn-default" data-ng-click="approve(artifact.artifacts[index])">
            <i class="fa fa-thumbs-up"></i> Approve &nbsp;
        </a>
        <a data-ng-if="artifact.artifacts[index].approved && !artifact.artifacts[index].declined"
           title="approved by {{ artifact.artifacts[index].approvedBy }}"
           class="btn-sm btn-default qa-disabled">
            <i class="fa fa-star" style="color: #ccc"></i> Approved
        </a>
        </span>
    </div>
</div>
