<!-- Content Header (Page header) -->
<section class="content-header">
  <h1> Deployment
    <small>Self Service Deployment</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a ui-sref="index.home"><i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li class="active">
      Deployment
    </li>
  </ol>
</section>

<section class="content" data-ng-controller="DeploymentController">
  <div class="row">
    <div class="col-md-3">
      <div class="box box-solid">
        <div class="box-body" style="min-height: 365px">
          <div class="form-group">
            <label for="host">Pick up a host</label>
            <select id="host" data-ng-model="selectedHost" data-ng-change="getInstallations()"
                    data-ng-options="option.hostName for option in hosts track by option._id"
                    class="form-control">
            </select>
          </div>
          <div class="form-group">
            <input id="favInts" type="checkbox" data-ng-click="toggleFavoriteInst()" data-ng-model="favoriteInst">
            <label for="favInts">show only my favorite installations</label>
            <select multiple size="11" id="installations"
                    data-ng-options="installation for installation in installations"
                    data-ng-model="selectedInstallations" class="form-control" data-ng-change="selectInstallations()">
            </select>
          </div>
        </div>
      </div>
    </div>
    <div data-ng-show="selectedInstallations.length > 0" class="col-md-9">
      <div class="box box-solid">
        <div class="box-body" style="min-height: 365px">
          <tabset>
            <tab data-ng-repeat="installation in selectedInstallationsDetails" class="clicable"
                 heading="{{installation.name | nodomain}}">
              <div class="box box-solid">
                <!-- /.box-header -->
                <div class="box-body">
                  <div class="row">
                    <div class="col-xs-3">
                      <h4>General information</h4>
                      <dl>
                        <dt>Installation</dt>
                        <dd>
                          <span class="clicable" data-ng-click="handleFavoriteInstallation(installation)"><i
                                  class="fa fa-heart installation-{{installation.favorite}}" style="font-size: 1.5em"
                                  title="Add to my favorites"></i>&nbsp;</span>
                          <a target="_blank" title="go to installation login page"
                             data-ng-href="http://{{ installation.name }}/www">{{ installation.name }}</a>
                        </dd>
                        <dt>EFS Version</dt>
                        <dd class="label label-info"> {{ installation.info['EFS Version'] }}</dd>
                        <dt>Build</dt>
                        <dd class="label label-info">{{ installation.info['Build Name'] }}</dd>
                        <dt>Build Date</dt>
                        <dd class="label label-info">{{ installation.info['Build Date'] }}</dd>
                        <dt>Initial EFS Version</dt>
                        <dd class="label label-warning"> {{ installation.info['Initial EFS Version'] }}</dd>
                      </dl>
                      <dl>
                      </dl>
                    </div>
                    <div class="col-xs-3">
                      <h4>Modules</h4>
                      <a tooltip-placement="right" tooltip-template="modulesTemplate" tooltip-class="modules"
                         class="btn btn-app">
                        <i class="fa fa-cogs"></i> Active
                      </a>
                      <br/>
                      <br/>
                      <a tooltip-placement="right" tooltip-template="customModulesTemplate" tooltip-class="modules"
                         class="btn btn-app">
                        <i class="fab fa-fort-awesome"></i> Custom
                      </a>

                    </div>
                    <div class="col-xs-6">
                      <h4>Database information</h4>
                      <div class="database-information">
                        <div class="inner row">
                          <div class="col-xs-5">
                            <dt>DB-Name</dt>
                            <dd> {{ installation.info['DB-Name'] }}</dd>
                            <dt>DB-Server</dt>
                            <dd> {{ installation.info['DB-Server'] }}</dd>
                            <dt>DB-Port</dt>
                            <dd> {{ installation.info['DB-Port'] }}</dd>
                            <dt>DB-Socket</dt>
                            <dd> {{ installation.info['DB-Socket'] }}</dd>
                          </div>
                          <div class="col-xs-5">
                            <dt>DB-User</dt>
                            <dd> {{ installation.info['DB-User'] }}</dd>
                            <dt>DB-Passwd</dt>
                            <dd> {{ installation.info['DB-Passwd'] }}</dd>
                            <dt>Last DB Maintenance</dt>
                            <dd class="text-red" am-time-ago="installation.info['Last-DB-Maintenance']"></dd>
                            <dt>Last Jobmaker Execution</dt>
                            <dd class="text-red" am-time-ago="installation.info['Last-Jobmaker-Execution'].date"></dd>
                          </div>
                          <div class="icon">
                            <i class="fa fa-database"></i>
                          </div>
                        </div>
                        <!-- /.info-box-content -->
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <!-- /.box-body -->
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" data-ng-show="selectedInstallations.length > 0">
      <h2 class="page-header">You have selected <b>{{ selectedInstallations.length }}</b> installations (<span
              data-ng-repeat="version in selectedVersions">{{$first ? '' : $last ? ' and ' : ', '}}<b>{{ version }}</b></span>)
      </h2>
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-left">
            <div class="checkbox">
              <b style="padding-right: 10px">Filter Builds</b>
              <label style="padding-right: 10px" data-ng-repeat="version in selectedVersions">
                <input type="checkbox" checklist-model="selectedVersionsModel" checklist-value="version"
                       data-ng-click="searchArtifacts()">{{ version }}
              </label>
              <a data-ng-if="account.isQA && !allVersionsShowed" class="clicable btn-sm btn-default" data-ng-click="showAllVersions()">
                <i class="fa fa-eye"></i> Show all versions...
              </a>
            </div>
          </div>
          <div class="box-tools pull-right">
            <pagination data-ng-change="pageArtifactChanged()" boundary-links="true" total-items="artifact.total"
                        data-ng-model="currentArtifactPage" items-per-page="5" class="pagination-sm"
                        previous-text="&lsaquo;"
                        next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body">
          <ul class="todo-list">
            <li>
              <div class="row">
                <span class="pull-left" style="padding-left: 10px">
                  <label>Status</label>
                </span>
                <span class="col-xs-1 pull-left">
                  <label>Release</label>
                </span>
                <span class="col-xs-1 pull-left">
                  <label>Branch</label>
                </span>
                <span class="col-xs-2 pull-left">
                  <label>Artifact Name</label>
                </span>
                <span class="col-xs-1 pull-left">
                  <label>Changesets</label>
                </span>
                <span class="col-xs-1 pull-left">
                  <label>Check In</label>
                </span>
                <span class="col-xs-1 pull-left">
                  <label>QA Status</label>
                </span>
                <span class="col-xs-2 pull-left">
                  <label>Actions</label>
                </span>
              </div>
            </li>
            <li data-ng-repeat="artifact in artifact.artifacts" data-ng-class="{'bg-gray-hs': artifact.healselfchanged}">
              <div class="row" >
                <span class="pull-left" style="padding-left: 10px; padding-right: 10px">
                      <a href="{{ artifact.url }}" target="_blank" title="{{ artifact.status }}">
                        <i class="fa fa-circle status-{{ artifact.status }}"
                           style="font-size: 1.5em;padding-left: 5px"></i>
                      </a>
                </span>
                <span class="col-xs-1 pull-left">
                  <span class="label label-default" data-ng-bind="artifact.version"></span>
                </span>
                <span class="col-xs-1 pull-left">
                  <span class="label label-primary" data-ng-bind="artifact.branch"></span>
                </span>
                <span class="col-xs-2 pull-left">
                  <span data-ng-bind="artifact.name"></span>
                  <a data-ng-show="artifact.artifactory" title="download build artifact"
                     data-ng-href="{{ artifact.artifactory }}"><i style="font-size: 1.5em;padding-left: 20px;" class="fas fa-cloud-download-alt"></i></a>
                </span>
                <span class="col-xs-1 pull-left">
                  <a class="clicable label label-default"
                     data-ng-click="open(artifact.name)">changeset</a>
                </span>
                <span class="col-xs-1 pull-left">
                  <span data-ng-bind="artifact.date | date : 'dd.MM.yyyy HH:mm'"></span>
                </span>
                <span class="col-xs-1 pull">
                  <i data-ng-if="artifact.declined" title="declined by {{ artifact.declinedBy }}"
                     class="fa fa-ban qa-declined"></i>
                  <i data-ng-if="artifact.approved && !artifact.declined" title="approved by {{ artifact.approvedBy }}"
                     class="fa fa-star qa-approved"></i>
                  <i data-ng-if="!artifact.approved && !artifact.declined" title="waiting approval"
                     class="fa fa-star qa-disableicon"></i>
                  <i data-ng-if="artifact.promoted && !artifact.declined" title="promoted by {{ artifact.promotedBy }}"
                     class="fa fa-share-alt qa-promoted"></i>
                  <i data-ng-if="!artifact.promoted && !artifact.declined" title="waiting promotion"
                     class="fa fa-share-alt qa-disableicon"></i>
                  <i data-ng-if="!artifact.promoted && artifact.declined" class="fa fa-share-alt qa-ghosticon"></i>
                  <i data-ng-if="artifact.comment.length > 0" title="this artifact has been commented"
                     class="clicable fas fa-comment-alt qa-commented" data-ng-click="comment(artifact)"></i>
                </span>
                <span class="pull-left l_10_px">
                  <a class="clicable btn-sm btn-default" data-ng-click="deploy(artifact)">
                    <i class="fa fa-play"></i> Deploy
                  </a>
                </span>
                <span class="pull-left l_10_px">
                  <a data-ng-if="account.isQA && (!artifact.approved && !artifact.declined)"
                     class="clicable btn-sm btn-default" data-ng-click="approve(artifact)">
                    <i class="fa fa-thumbs-up"></i> Approve &nbsp;
                  </a>
                  <a data-ng-if="artifact.approved && !artifact.declined" class="btn-sm btn-default qa-disabled">
                    <i class="fa fa-star" style="color: #ccc"></i> Approved
                  </a>
                </span>
                <span class="pull-left l_10_px" >
                  <a data-ng-if="account.isQA && artifact.approved && !artifact.declined && !artifact.promoted && artifact.canPromote"
                     class="clicable btn-sm btn-success" data-ng-click="promote(artifact)">
                    <i class="fa fa-share-alt"></i> Promote
                  </a>
                  <a data-ng-if="artifact.promoted && !artifact.declined" class="btn-sm btn-default qa-disabled">
                    <i class="fa fa-star" style="color: #ccc"></i> Promoted
                  </a>
                </span>
                <span class="pull-right r_10_px">
                  <a  data-ng-if="account.isQA && !artifact.promoted && !artifact.declined && artifact.canPromote"
                     title="Decline artifact" class="clicable btn-sm btn-danger" data-ng-click="decline(artifact)">
                    <i class="fa fa-thumbs-down"></i>
                  </a>
                  <a data-ng-if="account.isQA && artifact.declined" title="Revoke"
                     data-ng-click="revoke(artifact)" class="clicable btn-sm btn-warning">
                    <i class="fa fa-reply"></i>
                  </a>
                  <a data-ng-if="(artifact.promoted || !artifact.canPromote) && !artifact.declined " title="Artifact has been promoted"
                     class="clicable btn-sm btn-danger qa-disabled">
                    <i class="fa fa-thumbs-down"></i>
                  </a>
                </span>
                <span class="pull-left l_10_px">
                    <span ng-if="artifact.healselfchanged" title="Healself changed!">
                        <i  class="fa fa-exclamation-triangle" style="color: #fa8d6a; font-size: x-large"></i>
                    </span>
                </span>
                <span class="pull-right r_10_px">
                  <a data-ng-if="account.isQA" class="clicable btn-sm btn-default" data-ng-click="comment(artifact)">
                    <i class="fa fa-comment"></i>
                  </a>
                </span>
              </div>
            </li>
          </ul>
        </div><!-- /.box-body -->
        <div class="box-footer clearfix no-border">
          <small class="pull-right label label-danger">Total {{artifact.total}}</small>
        </div>
        <div data-ng-hide="artifact.searched" class="overlay"></div>
        <div class="loading-img" data-ng-hide="artifact.searched"></div>
      </div>

    </div>
  </div>
</section>
