<div class="splash-content" data-ng-controller="PromotionStatusController">

  <div class='promotion-stage' data-ng-if="alreadyPromoting">
    <p class="lead text-center">Promotion not possible. <br> Promotion process already started. <br> Please try again in a minute. <br><br> <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i> </p>
  </div>

  <div class='promotion-stage' data-ng-if="promotionStarted">
    <ul class="ul-promotion">
      <li class="li-promotion">{{ artifactToPromote.version }}</li>
      <li class="li-promotion">{{ artifactToPromote.version }}</li>
      <li class="li-promotion">{{ artifactToPromote.version }}</li>
      <li class="li-promotion">{{ artifactToPromote.version }}</li>
      <li class="li-promotion">{{ artifactToPromote.version }}</li>
    </ul>
    <div class='promotion-band'></div>
    <div class='promotion-factory'>
      <div class='promotion-magic'></div>
      <div class='promotion-screen'></div>
      <div class="promotion-qa">
        QA
        <br/>
        Team
      </div>
    </div>
  </div>
  <div class="promotion-info" data-ng-if="promotionStarted">
    <p class="lead text-center">Artifact {{ artifactToPromote.name }} is going to be promoted to production</p>
    <div class="row">
      <p style="padding-left: 15px">Artifact promotion status</p>
      <div class="col-md-4">
        <progressbar class="progress-deploy {{ distributionBarStatus }}" value="distributionPercentage" type="{{ distributionType }}"><b>{{ distributionPercentage }}%</b></progressbar>
      </div>
      <div class="col-md-8">
        <span data-ng-bind="distributionStatus"></span>
      </div>
    </div>
  </div>
</div>