<!-- Content Header (Page header) -->
<section class="content university" data-ng-controller="UniversityController">
  <iframe src="http://qa-university.qb-feedback.com" frameborder="0" allowtransparency="true" onload="this.height=screen.height;"></iframe>
</section>
