<!-- Content Header (Page header) -->
<section class="content-header">
  <h1> System
    <small>Configuration</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a ui-sref="index.home"><i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li class="active">
      System
    </li>
  </ol>
</section>

<section class="content" data-ng-controller="ConfigurationController">
  <div data-ng-if="!account.isAdmin" class="alert alert-danger alert-dismissible">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    <h4><i class="icon fa fa-ban"></i> No access!</h4>
    Nice try but you have no access to this area!
  </div>
  <tabset data-ng-if="account.isAdmin">
    <tab class="clicable" heading="Global system variables">
      <div class="box box-info">
        <div class="box-body">
          <table class="table table-hover">
            <tbody>
            <tr>
              <th>Variable</th>
              <th>Content</th>
            </tr>
            <tr data-ng-repeat="(item, content) in conf">
              <td>{{item}}</td>
              <td><a href="#" editable-text="conf[item]" onaftersave="updateConfig(item, $data)">{{content}}</a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </tab>
    <tab class="clicable" heading="User Management">
      <div class="box box-info">
        <div class="box-body">
          <table class="table table-hover no-padding">
            <tbody>
            <tr>
              <th>Avatar</th>
              <th>Name</th>
              <th><i class="fa fa-bug"></i>  QA Member</th>
              <th><i class="fa fa-user-secret"></i>  Admin Member</th>
              <th><i class="fa fa-lock"></i>  Locked</th>
              <th></th>
            </tr>
            <tr data-ng-repeat="user in users">
              <td>
                <div class="pull-left">
                  <img class="users-online online-user" ng-src="modules/users/img/avatars/{{ user.avatar }}?{{ avatarLastState }}" alt="User Image"/>
                </div>
              </td>
              <td><span data-ng-bind="user.name" class="vsub"></span></td>
              <td><input type="checkbox" data-ng-click="updateUser(user)" data-ng-model="user.isQA" class="vsub"></td>
              <td><input type="checkbox" data-ng-click="updateUser(user)" data-ng-model="user.isAdmin" class="vsub"></td>
              <td><input type="checkbox" data-ng-click="updateUser(user)" data-ng-model="user.isLocked" class="vsub"></td>
              <td><i class="fa fa-trash clicable vsub" ng-click="deleteUser(user)" data-ng-if="user.userName !== account.userName"></i></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="box-footer">
        </div>
      </div>
    </tab>
    <tab class="clicable" heading="Maintenance">
      <div class="box box-info">
        <div class="box-body">
          <div><label>Maintenance message</label></div>
          <a href="#" editable-textarea="maintenance.message" e-rows="6" e-cols="100" onaftersave="sendMaintenanceMessage()">
            <pre>{{ 'please enter your maintenance message' }}</pre>
          </a>
        </div>
      </div>
    </tab>
    <tab class="clicable" heading="Deployment Hosts">
      <div class="box box-info">
        <div class="box-body">
          <table class="table table-hover no-padding">
            <tbody>
            <tr>
              <th>Host Name</th>
              <th>Host URL</th>
              <th></th>
            </tr>
            <tr data-ng-repeat="host in hosts">
              <td><a href="#" editable-text="host.hostName" onaftersave="updateHost(host)">{{ host.hostName }}</a></td>
              <td><a href="#" editable-text="host.hostURL" onaftersave="updateHost(host)">{{ host.hostURL }}</a></td>
              <td><i class="fa fa-trash clicable" ng-click="deleteHost(host)"></i></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="box-footer">
          <button class="btn btn-primary" ng-click="newDeployHost()">
            New Deploy Host
          </button>
        </div>
      </div>
    </tab>
    <tab class="clicable" heading="Cucumber feature files">
      <div class="box box-info">
        <div class="box-body">
          Here you can pull the changes of the feature definitions
          <pre ng-bind="statusResult"></pre>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <button class="btn btn-primary" ng-click="checkFeatureStatus()">
            Check feature status
          </button>
          <button class="btn btn-danger" ng-class="btnStatus" ng-click="updateFeatures()">
            {{ btnStatusLabel }}
          </button>
        </div>
      </div>
    </tab>
    <tab class="clicable" heading="Automation Coverage">
      <div class="box box-info">
        <div class="box-body">
          <pre ng-bind="coverageStatusResult"></pre>
          <input type="file" file-change="handler($event,files)" ng-model="MyFiles"/>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <button class="btn btn-danger" ng-class="btnCoverageStatus" ng-click="updateCoverage()">
            Update coverage
          </button>
        </div>
      </div>
    </tab>
  </tabset>
</section>

