<section class="row" data-ng-controller="AvatarController">

  <div class="col-md-offset-1 col-md-4 splash-content-lib">
    <div slim-scroll h="600px" s="5px">
      <img ng-repeat="avatar in avatars" class="clicable splash-avatars" ng-src="modules/users/img/avatars/{{avatar}}" ng-click="setAvatar(avatar)" />
    </div>
  </div>

  <div class="col-md-7 splash-content-me text-center">
    <h1> Hi there <span ng-bind="account.displayName"></span>!</h1>
    <p class="lead">
      This is your default avatar. <br /> 
    </p>
    <div class="image-container">
      <img class="splash-avatar" file-dropzone="[image/png]" file="image" data-max-file-size="1" ng-src="{{image}}" />
    </div><br />
    <p class="lead">
      Please chose your avatar from the list <br />
      or drop your beautiful png file <br /> 
      in the image area and become unique.
    </p>    
    <button class="btn btn-lg btn-outline" ng-click="firstLogin(); $close()">
      Ok, cool
    </button>
  </div>

</section>

       