<!-- Content Header (Page header) -->
<section class="content-header">
  <h1> Changelog
    <small>Changelog management</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a ui-sref="index.home"><i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li class="active">
      Changelogs
    </li>
  </ol>
</section>

<section class="content" data-ng-controller="ChangelogController">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-solid">
        <div class="box-body">
          <div class="row">
            <div class="col-md-4">
              <b>Product</b>
              <div class="form-group">
                <div class="radio">
                  <label>
                    <input name="product" data-ng-model="product" value="EFS" type="radio"
                           data-ng-change="getVersions()">
                    EFS
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input name="product" data-ng-model="product" value="DV" type="radio"
                           data-ng-change="getVersions()">
                    DATAVOYAGER
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-8" data-ng-if="versions.length > 0">
              <b><span style="margin-left: 10px;">Version</span></b><br>
              <div class="form-group" style="margin-top: 10px;">
                <span data-ng-repeat="version in versions">
                  <input style="margin-left: 10px;" name="version" type="radio" data-ng-click="getChangelog(version)"> {{version}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" data-ng-if="changelogs.length > 0">
    <div class="col-md-12">
      <div class="box box-solid">
        <div class="box-body">
          <div class="timeline">

            <div data-ng-repeat="changelog in changelogs">
              <!-- timeline time label -->
              <div class="time-li time-label">
              <span class="bg-red">
                  {{changelog.date | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a' }}
              </span>
              </div>
              <!-- /.timeline-label -->

              <!-- timeline item -->
              <div class="time-li">
                <!-- timeline icon -->
                <i class="fa fa-gift bg-warning"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header">{{ changelog.name }}</h3>
                  <div class="timeline-body">
                    <div class="row" data-ng-repeat="commit in changelog.changelog">
                      <div style="padding-left: 20px" class="pull-left">
                        <a ng-if="commit.jiraUrl" href="{{ commit.jiraUrl }}" target="_blank">
                          <div data-ng-href="{{ commit.jiraUrl }}" class="label label-primary" title="Go to jira issue">
                            <i class="fa fa-bug"></i>
                          </div>
                        </a>
                        <div ng-if="!commit.jiraUrl">
                          <div class="label">
                            <i class="fa fa-bug"></i>
                          </div>
                        </div>
                      </div>
                      <div style="padding-left: 11px" class="pull-left">
                        <a href="{{ commit.commitUrl }}" target="_blank">
                          <div class="label label-primary" title="Go to commit">
                            <i class="fab fa-github"></i>
                          </div>
                        </a>
                      </div>
                      <div style="padding-left: 10px" class="col-xs-8 pull-left">
                        <div ng-bind="commit.message"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="time-li">
              <i class="fa fa-clock bg-gray"></i>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>
