{% extends 'layout.server.view.html' %}

{% block content %}

<header class="header" data-ng-controller="HeaderController" ui-view="header"></header>

<div class="wrapper row-offcanvas row-offcanvas-left" data-ng-controller="SideBarController" ui-view="wrapper"></div>

{% endblock %}