<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{{title}}</title>

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">

	<!-- Fav Icon -->
	<link href="/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">

	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

	<!--Application CSS Files-->
	{% if process.env.NODE_ENV === 'development' %}
		{% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">
		{% endfor %}
	{% endif %}

	{% if process.env.NODE_ENV === 'production' %}
		<link rel="stylesheet" href="dist/vendor.min.css">
		<link rel="stylesheet" href="dist/application.min.css">
	{% endif %}

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->

</head>

<body class="skin-qb">
<div growl></div>

{% block content %} {% endblock %}

<!--Embedding The User Object-->
<script type="text/javascript">
	var account = {{ account | json | safe }};
	var conf = {{ conf | json | safe }};
</script>

<!--Application JavaScript Files-->
{% if process.env.NODE_ENV === 'development' %}
	{% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>
	{% endfor %}
	<!--Livereload script rendered -->
	<script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
{% endif %}

{% if process.env.NODE_ENV === 'production' %}
<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script type="text/javascript" src="dist/vendor.min.js"></script>
<script type="text/javascript" src="dist/application.min.js"></script>
{% endif %}

<script type="text/javascript">google.load("visualization", "1", {packages:["treemap"]});</script>

</body>

</html>
