{% extends 'layout.server.view.html' %}

{% block content %}
<section class="row" data-ng-controller="AuthenticationController">
      <div class="login-wrap login-background">
        <p class="login-form-title">
          Sign In
        </p>
        <form data-ng-submit="signin()" class="login-form" autocomplete="off">
          <fieldset>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" id="username" name="username" class="form-control login-input" data-ng-model="credentials.username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" class="form-control login-input" data-ng-model="credentials.password">
            </div>
            <div class="text-center form-group">
              <input type="submit" value="Sign In" class="btn btn-success btn-sm"/>
            </div>
            <div data-ng-show="error" class="text-center text-danger">
              <strong data-ng-bind="error"></strong>
            </div>
          </fieldset>
        </form>
        <div class="login-posted-by">
          Powered by QA Team
        </div>
      </div>
</section>
{% endblock %}
